[run]
omit =
    *tests.py
    staticpreprocessor/models.py
include = staticpreprocessor/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
